#dollarsign {
    padding-right: 5px;
    font-weight: bold;
}
body {
    background-color: aqua;
}
.myContainer {
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}
.notes {
    font-size: small;
}
#radio-container {
    font-size: small;
    border-radius: 4px;
}
.form-check {
    padding-top: 3px;
    padding-left: 25px;
}