#dollarsign {
    padding-right: 5px;
    font-weight: bold;
}
body {
    
}
.myContainer {
    width: 1000px;
    margin: 0 auto;
    margin-top: 50px;
}
.notes {
    font-size: small;
}
#radio-container {
    font-size: small;
    border-radius: 4px;
}
.form-check {
    padding-top: 3px;
    padding-left: 25px;
}
.row {
    margin-top: 8px;
}
.footer-buttons {
    position: absolute;
    right: 18px;
}
#footer {
    height: 55px;
}
#alert-field {
    padding: 0px, 20px, 0px, 20px;
    font-weight: bold;
}
#message {
    min-height: 80px;
}